@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

:root {
    --whiteColor: white;
    --blackColor: black;
    --passionOne: 'Passion One', cursive;
    --sriracha: 'Sriracha', cursive;
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-family: var(--fonte1);
}

header {
    background-color: var(--blackColor);
    padding: 3em;
}

header p,
header h1 {
    color: var(--whiteColor);
    text-align: center;
}

header a {
    color: var(--whiteColor);
}

main {
    font-family: var(--sriracha);
    font-size: 1.5em;
    text-align: left;

}

footer {
    background-color: var(--blackColor);
    color: var(--whiteColor);
    text-align: center;
    padding: 5px;
}

footer a {
    color: var(--whiteColor);
}

footer p {
    margin: 0;
}

h1 {
    font-size: 10vw;
    font-family: var(--passionOne);
    font-variant: small-caps;
}

p {
    margin: 0.5em;
    line-height: 2em;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

.image-conteiner {
    text-shadow: 1px 1px 0px black;
    background-color: rgba(0, 0, 0, 0.514);
    max-width: 15em;
    min-width: 6.25em;
}

.sections {
    padding: 2em;
    font-weight: 3.5vw;
}

#image1 {
    background: url(imagens/background001.jpg) center center/ cover fixed;
    color: var(--whiteColor);

}

#image2 {
    background: url(imagens/background002.jpg) center center/ cover fixed;
    color: var(--whiteColor);
}