* {
    margin: 0;
    padding: 0;
}

:root {
    --whiteColor: white;
    --blackColor: black;
}

header {
    background-color: var(--blackColor);
    padding: 3em;
}

header p {
    color: var(--whiteColor);
    text-align: center;
}

header a {
    color: var(--whiteColor);
    text-decoration: none;

}

header a:hover {
    text-decoration: underline;

}

p {
    margin: 0.5em;
    line-height: 2em;
}